h1{
  font-family: "noeDisplay";
  font-weight: normal;
  font-size: 32px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.76);
}

h2{
  font-size: 15px;
  color: rgba(156, 146, 146, 0.76);
  font-weight: normal;
  text-align: center;
  width: 30%;
  margin-top: 5px;
}

.app {
  text-align: center;
}

.app-body {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-header-div{
  display: flex;
  width: 100%;
  align-items:center;
  justify-content: flex-end;
}

.app-header-div div{
  margin: 10px;
}

.app-content-register{
  width: 80%;
  height: 80%;
}

.app-content-login{
  width: 80%;
  height: 80%;
}

.app-content-register, .app-content-login{
  font-family: Sans-Serif;
  font-weight: 700;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app-content-register{
  background-image: url("https://cdn-images-1.medium.com/max/900/1*gnUBeL-INIVDk0_GyL8x1g.png");
  background-repeat: no-repeat;
  background-size: 100% 80%;
}

.app-form{
  display: flex;
  flex-direction:column ;
  align-items: center;
  justify-content: center;
}

.app-text-info{
  font-size: 14px;
  color: rgba(0, 0, 0, 0.76);
  font-weight: normal;
  text-align: center;
  width: 30%;
  margin-top: 5px;
}

.app-form input{
  margin-top: 5px;
}

.app-form button{
  margin-top: 35px;
}

.app-input-group{
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}

.app-input-group input, .app-inputpass{
  border: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.54);
  padding-top: 3px;
  width: 290px;
  font-family: sans-serif;
  font-size: 17px;
}

.app-inputpass{
  width: 270px !important;
}

.app-input-group .input-label{
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: normal;
  font-size: 12px;
}

.input-label{
  margin-top: 30px;
}

.app-arrow-back-text{
  display: flex;
  align-items: center;
}

.app-arrow-back-text span{
  font-size : 30px;
  font-weight: normal;
  margin-right: 10px;
}

.app-category{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 16px;
  font-family:sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color:#fff;
  color: rgba(0,0,0,0.54);
}

.app-category div{
  display: flex;
  margin: 30px 30px;
}

.app-category button{
  background-color: #fff;
  outline: none;
  border: none;
}

.app-onezero-headline{
  display: flex;
  align-items: center;
  margin:50px 0px 50px 0px;
  font-family: 'yellix';
  justify-content: "space-between";
}

.app-onezero-font{
  font-family: 'yellix';
  font-size: 25px;
  width: 40%;
}

.app-article{
  width: 100%;
}

.app-article-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 40px;
  width: 100%;
}

.app-comment-body{
  width: 100%;
}

.app-article-header{
  display: flex;
  background: #fff;
  border: 1px solid #dbd9d9;
  width: 100%;
  height: 65px;
}

.app-article-subheader-text{
  color: rgba(0,0,0,0.54);
  font-weight: 500;
  justify-content: center;
}

.app-article-subheader-text:hover{
  color: rgba(0,0,0,0.78);
  cursor: pointer;
}

.app-article-subheader{
  display: flex;
  background:#fff;
  width: 100%;
  height: 50px;
  box-shadow: 0 4px 8px 0 #dbd9d9;
  align-items: center;
}
.app-article-title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgba(0,0,0,0.84);
  font-size: 40px;
  margin: 40px 0px 10px;
  width: 55%;
}

.app-article-author{
  display: flex;
  align-items: center;
  background: #fff;
  width: 55%;
  height: 80px;
}

.app-article-author-name{
  color: rgba(0, 0, 0, 0.84) ;
  font-size: 16px;
  margin-right: 10px;
}

.app-article-date-post{
  color: rgba(0, 0, 0, 0.54) ;
  font-size: 16px;
  margin-right: 10px;
}

.app-article-content{
  background: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 21px;
  width: 55%;
  text-align: left;
  color: rgba(0,0,0,0.64);
}

.app-onzero-icon{
  width: 400px;
  margin: 0px 20px; 
}

.app-follow-btn{
  background: #fff;
  border: 2px solid #89e88a;
  color: #89e88a;
  border-radius: 5px;
}

.app-follow-btn-onezero{
  background: #fff;
  width: 80px;
  height: 35px;
  font-size: 15px;
  border: 1px solid #8934eb;
  color: #8934eb;
  border-radius: 5px;
  margin-left: 350px;
}

.app-follow-body{
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.app-follow-topic{
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #fff;
  margin: 0px 0px 30px 0px;
}

.app-follow-social{
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.34);
}

.app-follow-author{
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: #fff;
}

.app-about-author{
  text-align: left;
  padding: 20px;
  width: 55%;
  font-family: sans-serif;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.54);
}

.app-about-author div{
  margin-bottom: 15px;
}

.app-follow-topic-item{
  display: flex;
  align-items: center;
  background-color:rgba(0,0,0,0.05);
  color: rgba(0,0,0,0.54);
  padding: 20px;
  margin: 10px 10px 10px 0px;
  border-radius: 5px;
}

.app-follow-response-btn{
  width: 100%;
  height: 80px;
  background-color: #fff;
}

.app-follow-clap{
  display: flex;
  justify-content: flex-start;
  width: 10%;
}

.app-clap-avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 60px;
  height: 60px;
  border-radius: 100%
}

.app-clap-avatar:hover{
  border-color: #89e88a ;
}

.app-clap-text{
  color: rgba(0,0,0,0.0.84);
  width: 140px;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.app-follow-social-icon{
  display: flex;
  width: 80%;
  flex-direction: row-reverse;
}

.app-follow-social-icon div{
  margin-left: 20px;
}

.app-author-avatar,.app-author-avatar-comment, .app-author-avatar-comment-other-user{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  border-radius: 100%
}

.app-category div:hover{
  color: rgba(0,0,0,0.78);
  cursor: pointer;
}

input:focus{
  outline: none;
  border-bottom: 2px solid black;
}

.app-medium-icon{
  width: 40px;
  height: 40px;
  margin: 10px 10px 10px 70px; 
}

.app-mision-icon{
  width: 200px;
  height: 35px;
  margin: 10px 40px 10px 70px; 
}

.app-comment-body-top, .app-comment-body-bottom{
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.app-comment-body-top{
  height: 300px;
}

.app-comment-body-bottom{
  background: #f5f5f5;
  padding-bottom: 70px;
}

.app-comment-content-body{
  display: flex;
  background: #f5f5f5;
  padding-top:30px;
  width: 55%;
  align-items: center;
  justify-content: flex-start;
  flex-direction:column;
}

.app-comment-post-title-box, .app-comment-post-content-box, .app-comment-post-content-box-other-user{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 60%;
  width: 55%;
  border: 1px solid #c6ccc8;
}

.app-comment-post-content-box{
  flex-direction: row;
  width: 100%;
  height: 200px;
  border: 0px;
}

.app-comment-post-content-box-other-user{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-top: 30px;
  border-bottom: 1px solid #c6ccc8;
  border-top: 1px solid #c6ccc8;
  background: #fff;
  height: 100px;
  border-radius: 0%;
}

.app-comment-post-title-text-box,.app-comment-post-content-text-box{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  height: 20%;
  width: 55%;
}

.app-comment-post-content-text-box{
  width: 100%;
  background-color:#f5f5f5;
}

.app-comment-text,.app-comment-text-bold,.app-comment-text-grey,.app-comment-text-medium{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  margin: 10px 0px 10px 10px;
}

.app-comment-text-bold{
  font-weight: bold;
  margin-left: 0px;
  margin-top: 0px;
}

.app-comment-text-grey{
  color: rgba(0,0,0,0.54);
}

.app-comment-text-medium{
  font-size: 18px;
  line-height: 1.6;
  padding-left: 25px;
}

.app-comment-line-text-icon{
 display: flex;
 width: 100%;
}

.app-comment-response-icon{
  width: 25%;
  display: flex;
  justify-content: flex-end;
  color: grey;
}

.app-comment-response-icon div{
  margin: 0px 30px 0px 0px ;
}

.app-comment-post-title-text-child{
  width: 70%;
}

.app-author-avatar-comment{
  width:10%;
  height: 156px;
  border-left: 1px solid #c6ccc8;
  border-bottom: 1px solid #c6ccc8;
  border-top: 1px solid #c6ccc8;
  border-radius: 0%;
  background: #fff;
}

.app-author-avatar-comment-other-user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70px;
  width : 100px;
  background: #fff;
  border-radius: 0%;
  border-top: 1px solid #c6ccc8;
}

.app-author-avatar-comment-other-user div{
  height: 60px;
  width:60px;
}

.app-comment-input{
  width: 99%;
  height: 95px;
  border-left: none;
  border-bottom: 1px solid #c6ccc8;
  font-size: 18px;
  padding-top: 60px;
  padding-left: 45px;
  line-height: 1.6;
}

.app-comment-input:focus{
  outline:none;
}

.app-related-article-body, .app-related-article-child{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #f7f7f7;
}

.app-related-article-child{
  width: 95%
}

.app-related-article-panel{
  width:'100%' !important; 
  height:'50px' !important; 
  background-color:'red' !important;
}

.app-dropdown-profil{
  position: relative;
  display: inline-block;
}

.app-dropdown-profil-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 197px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding:20px;
}

.app-dropdown-profil-content ul{
  list-style-type: none;
  border-top: 1px solid #edebe6;
}

.app-dropdown-profil-content li{
  padding: 10px !important;
  cursor: pointer;
}

.app-new-story-header{
  display: flex;
  background: #fff;
  width: 80%;
  height: 65px;
}

.publish-button{
  color:white;
  background:#32a873;
  border: 1px solid #32a873;
  border-color: #32a873;
  width: 70px;
  height: 25px;
  border-radius: 10%;
}

.button:after {
  border: 0px;
}

.app-new-story-input,.app-new-story-input-title, .app-new-story-input-content{
  width: 100%;
  display: flex;
}

.app-new-story-input{
  flex-direction: column;
  align-items: center;
}

.app-new-story-input-title, .app-new-story-input-content{
  justify-content: center;
  padding-top: 18px;
}

.app-new-story-input-content{
  padding-top: 10px;
}

.app-new-story-input-title input{
  width: 60%;
  height: 50px; 
  font-size: 30px;
  border: none
}

.app-new-story-input-content input{
  width: 58%;
  height: 25px;
  font-size: 15px;
  border: none;
}

.app-story-body-top{
  display: flex; 
  align-items: center; 
  width: 82%;
  height: 150px;
  justify-content: center
}

.app-story-body-top-title{
  font-family: sans-serif;
  font-weight: 750;
}

.app-story-body-top-button-box{
  width: 50%; 
  display: flex ; 
  align-items: center; 
  justify-content: flex-end;
}

.app-story-body-bottom{
  height: 20px;
  width: 82%;
  border-bottom: 1px solid #adb3b2;
  display: flex;
}

.app-home-login-btn{
  display: flex;
  align-items: center;
  width: 70px;
  height: 30px;
  border: 1px solid black;
  justify-content: center;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}


@font-face {
  font-family: "noeDisplay";
  src: url("https://glyph.medium.com/font/b6752aa/0-3j_4g_6bu_6c4_6c8_6c9_6cc_6cd_6ci_6cm/noe-display-500-normal.woff") format('woff');
}

@font-face {
  font-family: "yellix";
  src: url("https://glyph.medium.com/font/715de6e/3k-4f_4h-6bt_6bv-6c3_6c5-6c7_6ca-6cb_6ce-6ch_6cj-6cl_6cn-nvnj/yellix-400-normal.woff")
  format('woff');
}